progress {
  color: yellow;
  background: transparent;

  border: 1px solid transparent;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
  height: 7px;
}

progress::-moz-progress-bar {
  background: blueviolet;
}
progress::-webkit-progress-bar {
  background-color: lightgray;
}

progress::-webkit-progress-value {
  background: var(--chartColor);
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 125px;
  }
}
.percent-value {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

.skill-progression-dayDate {
  font-weight: 900;
  font-size: 2rem;
}

.skill-progression-month {
  color: lightgray;
}

.skill-progression-skillname {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.skill-progression-bar {
  margin-top: 8px;
}
