

.top-agents-container {
display: flex;
}


.top-agents-flex-item {
    display: flex;
    align-items: center;
     

}

.top-agents-title {
    color: black;
    padding: 1rem;
}

.top-agents-flex-item > * {
    margin-right: 10px;
    margin-top: 15px;
}

.top-agents-flex-item span{
    margin-right: 25px;
}


.top-agents-option-title{

}


.top-agents-bold-text{
font-weight: bold;
}


.top-agents-gray-text{

    color: gray;
    opacity: 0.6;
}

.top-agents-options-list {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}